#menu{
    background-color: antiquewhite;
    display: flex;
    visibility: hidden;
    transition: all 1s ease;
    list-style: none;
    justify-content: space-around;
    /*width: 40vw;
    height: 0%;*/
    opacity: 0;
}
/*input[type="checkbox"]*/
#click{
    display: none;
}
/*label[for="click"]*/
#click + label {
    display: inline-block;
    background: url(../img/blank.png);
    cursor: pointer;
    width: 48px;
    height: 48px;
}
#click:checked + label {
    display: inline-block;
    background: url(../img/checked.png);
    cursor: pointer;
    width: 48px;
    height: 48px;
}
#click:checked ~ #menu {
    visibility: visible;
    opacity: 1;
}