*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrap{
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
    /*mandatory는 항상. 
      overflow:auto는 넘어가면 스크롤 생기도록*/
}
#wrap::-webkit-scrollbar {
    /*스크롤바를 꾸며줄 수 있는 것
    display:none는 스크롤바를 안 보이게 해주는 것뿐
    기능은 그대로 유지*/
    display: none;
}
#wrap .page{
    scroll-snap-align: center;
    /*스크롤이 조금만 내려가도 무조건 화면을
    중간에 맞추는 것*/
    width: 100%;
    height: 100vh;
    padding: 100px;
    font-size: 70px;
    text-align: center;
    color: #fff;
}
#wrap > div:nth-child(1){
    background-color: black;
}
#wrap > div:nth-child(2){
    background-color:chartreuse;
}
#wrap > div:nth-child(3){
    background-color:cornflowerblue;
}
#wrap > div:nth-child(4){
    background-color:crimson;
}
#wrap > div:nth-child(5){
    background-color:springgreen;
}