*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
}
body::-webkit-scrollbar{
    display: none;
}
#full::-webkit-scrollbar{
    display: none;
}
li{
    list-style: none;
}
#wrap{
    height: 30px;
    width: 100%;
    background-color: black;
    color: white;
    line-height: 30px;
    font-weight: 900;
}
#wrap ul{
    display: flex;
    justify-content: space-around;
}
#wrap li:hover{
    color: gray;
    cursor: pointer;
}
#menu{
    width: 100%;
    overflow: hidden;
    text-align: center;
    background-color:darkseagreen;
    transition: all 2s ease;
    z-index: 3;
    display: none;
}
#wrap:hover + #menu{
    display: block;
}
#wrap li:hover menu{
    display: block;
}
#menu ul{
    float: left;
    justify-items:center;
    margin: 0 73px;
    text-align: center;
}
#full{
    clear: both;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

#full .page{
    scroll-snap-align: center;
    width: 100%;
    height: 100vh;
    padding: 100px;
    font-size: 70px;
    text-align: center;
    color: white;
}
#full > div:nth-child(1){
    background-color: black;
}
#full > div:nth-child(2){
    background-color:chartreuse;
}
#full > div:nth-child(3){
    background-color:cornflowerblue;
}
#full > div:nth-child(4){
    background-color:crimson;
}
#full > div:nth-child(5){
    background-color:springgreen;
}
