*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
    width: 100%;
    cursor: pointer;
}
section{
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
    /*mandatory는 항상. 
      overflow:auto는 넘어가면 스크롤 생기도록*/
}
section::-webkit-scrollbar {
    /*스크롤바를 꾸며줄 수 있는 것
    display:none는 스크롤바를 안 보이게 해주는 것뿐
    기능은 그대로 유지*/
    display: none;
}
#wrap .page{
    scroll-snap-align: center;
    /*스크롤이 조금만 내려가도 무조건 화면을
    중간에 맞추는 것*/
    width: 100%;
    height: 100vh;
    padding: 100px;
    font-size: 70px;
    text-align: center;
    color: #fff;
}
section > div:nth-child(1){
    background-color: black;
}
section > div:nth-child(2){
    background-color:chartreuse;
}
section > div:nth-child(3){
    background-color:cornflowerblue;
}
section> div:nth-child(4){
    background-color:crimson;
}
section > div:nth-child(5){
    background-color:springgreen;
}
header{
    width: 100%;
    height: 2em;
    background: #222;
    position: fixed;
}
header > #menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 0.875rem;
}
header > #menu li{
    margin-right: 3rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
header ul li:hover{
    opacity: 0.5;
}
header > #hidemenu{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: antiquewhite;
    visibility: hidden;
}
header > #hidemenu > ul{
    width: 100%;
    margin-right: 3rem;
    color: #222;
}
#menu:hover + #hidemenu{
    visibility: visible;
}